@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: normal;
  src:
    local('SourceSansPro'),
    local('SourceSansPro'),
    url(./fonts/SourceSansPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexSerif';
  font-style: normal;
  font-weight: normal;
  src:
    local('IBMPlexSerif'),
    local('IBMPlexSerif'),
    url(./fonts/IBMPlexSerif-Regular.ttf) format('truetype');
}


* {
  font-family: 'SourceSansPro';
  color: #040e1c;
}

#root .titles {
  font-family: 'IBMPlexSerif';
  color: #ec4e20;
}

.title {
  color: #ec4e20;
}

.centered {
  text-align: center;
}

.profile-first-square {
  margin-top: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.card-image {
  margin-top:15px
}

.App-header {
  background-color: #fec0aa;
  height: 88px;
  padding: 20px;
  color: white;
}

.App-header a {
  color: white;
  padding: 0 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.NotLoggedInPage {
  text-align: center;
  margin : 20px 30px;

}

.logo {
  height: 55px;
}

.navbar {
  background-color: #FFDBCE;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
