@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: normal;
  src:
    local('SourceSansPro'),
    local('SourceSansPro'),
    url(./fonts/SourceSansPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexSerif';
  font-style: normal;
  font-weight: normal;
  src:
    local('IBMPlexSerif'),
    local('IBMPlexSerif'),
    url(./fonts/IBMPlexSerif-Regular.ttf) format('truetype');
}


* {
  font-family: 'SourceSansPro';
  color: #040e1c;
}

#root .titles {
  font-family: 'IBMPlexSerif';
  color: #ec4e20;
}

.title {
  color: #ec4e20;
}

.centered {
  text-align: center;
}

.profile-first-square {
  margin-top: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.card-image {
  margin-top:15px
}

.App-header {
  background-color: #fec0aa;
  height: 94px;
  padding: 15px;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1200;
}

.App-header + * {
  padding-top: 88px;
}

.App-header a {
  color: white;
  padding: 0 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.NotLoggedInPage {
  text-align: center;
  margin : 20px 30px;

}

.logo {
  height: 70px;

}

.navbar {
  background-color: #FFDBCE;
}

.logo-home-page {
  height: 50px;
}

.img-home-page {
  width: 170px;
  margin-bottom: -10px
}

.subblock-home-page {
  margin-top: 20px;
}

.swipes {
  height: 110px;
}

.img-cover {
  object-fit: cover;
}

#root .middle-logo {
  margin-right: 5px;
  margin-left: 5px
}

#root .header-home-page {
  padding-bottom: 20px;
  background-color: #fec0aa;
}

.btn-profile {
  margin-left:-39px;
}

.btn-messages {
  margin-right:-39px;
}

.button-change-pic {
  margin-bottom : 10px
}

.message-body {
  background-color: #fec0aa;
  border-color:  #fec0aa;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rsc-os-option .rsc-os-option-element {
  background: #fec0aa;
}

.main-container {
  max-width: 400px !important;
}

/* For the footer of conversation */
.rsc .rsc-container {
  box-shadow: 0 0 0 0;
  margin: auto;
}
.rsc .rsc-container .rsc-content {
  height: 100%;
}
.rsc .rsc-container .rsc-footer {
  display: none;
}
